body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
}

header {
  background-color: #007acc;
  color: white;
  padding: 20px 0;
}

.logo {
  width: 50px;
  display: block;
  margin: 0 auto 10px auto;
}

main {
  padding: 50px 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
  color: white;
}

footer {
  background-color: #007acc;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
